* {
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  font-style: normal;
  color: #1b1a1a;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header_div {
  display: flex;
  align-items: center;
  height: 90px;
}
header {
  height: 90px;
}
.nav {
  display: flex;
  align-items: center;
}
.list_element {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 540px;
  height: 50px;
}
.logo {
  margin-left: 152px;
  color: #1b1b1b;
}
.header_btn {
  cursor: pointer;
  border: none;
  color: #ffff;
  background-color: #1b1b1b;
  border-radius: 14px;
  width: 155px;
  height: 46px;
  margin-left: 32px;
  transition: background-color 200ms;
}
.header_btn:hover {
  background-color: #403e3b;
}
.nav_list_text {
  color: #1b1b1b;
  transition: color 200ms;
}
.nav_list_text:hover {
  color: #858280;
}

.section_hero_div {
  height: 720px;
  display: flex;
  background-color: #ece7e4;
}
.hero_text {
  padding-top: 142px;
  width: 566px;
  height: 566px;
  padding-left: 60px;
}

.hero_text h1 {
  margin-top: 18px;
  font-size: 64px;
  line-height: 70.4px;
  font-weight: 350;
}
.hero_text a {
  display: block;
  margin-top: 18px;
  color: #1b1b1b;
  width: 133px;
  height: 46px;
  margin-left: 5px;
}
.hero_desc {
  margin-top: 18px;
  font-size: 16px;
  width: 509px;
  height: 120px;
  color: #403e3b;
}
.hero_img {
  width: stretch;
  height: 720px;
  padding-left: 60px;
}
.hero_img img {
  width: 875px;
  max-width: 875px;
  height: 720px;
}
.section_2_div {
  width: 768px;
  height: 582px;
  display: flex;
  padding-top: 100px;
  margin-left: 336px;
  padding-bottom: 100px;
}
.section_2_desc {
  width: 500px;
  height: 582px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_2_desc {
  padding-left: 133px;
}
.section_2_desc p {
  color: #403e3b;
}
.section_2_img_div {
  display: flex;
  width: 500px;
  height: 100px;
  padding-top: 18px;
}
.section_2_img_div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.section_2_img_div div p {
  letter-spacing: 0px;
}
.stephen_collier {
  font-weight: 500;
  font-size: 17px;
}
.senior_partner {
  color: #645c55;
  font-size: 14px;
}
.section_2_div h2 {
  font-size: 32;
  font-weight: 400;
}
.section_3_div {
  display: flex;
  position: relative;
}
.section_3_text_div {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 285px;
  height: 68px;
}
.section_3_title {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  color: #403e3b;
}
.section_3_text_div p {
  color: #645c55;
  font-size: 16px;
  line-height: 24px;
}
.section_3_div img {
  width: 1500px;
  max-width: 14500px;
}

.section_4_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 381px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
.section_4_div p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #645c55;
}
.section_4_div h2 {
  font-size: 39px;
  line-height: 42px;
  font-weight: 400;
  padding-top: 13px;
}
.section_4_list {
  display: flex;
  gap: 16px;
  padding-top: 40px;
}
.section_4_list li {
  width: 378px;
  height: 259px;
  display: flex;
  flex-direction: column;
}
.section_4_list li img {
  width: 117px;
  height: 102px;
}
.section_4_text_title {
  padding-top: 17px;
}
.section_4_list_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 378px;
  width: 378px;
  height: 259px;
}
.section_4_text_desc {
  height: 72px;
  padding-top: 10px;
}
.section_5_div {
  position: relative;
  display: flex;
}
.section_5_text_div {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 285px;
  height: 68px;
}
.section_5_title {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  color: #403e3b;
}
.section_5_text_div p {
  color: #645c55;
  font-size: 16px;
  line-height: 24px;
}
.section_5_div img {
  width: 1500px;
  max-width: 14500px;
}
.section_6 {
  background-color: #403e3b;
}
.section_6_div {
  display: flex;
  width: 1168px;
  height: 290px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}
.section_6_companies {
  width: 432px;
  max-width: 432px;
  height: 290px;
  display: flex;
  gap: 96px;
  padding-left: 160px;
  flex-wrap: wrap;
}
.section_6_companies img {
  max-width: 128px;
  max-height: 78px;
  width: 128px;
  height: 78px;
}
.section_6_text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ece7e4;
}
.section_6_title {
  font-size: 32px;
  line-height: 38px;
  color: #ffff;
}
.section_6_desc {
  color: #ece7e4;
  line-height: 24px;
  font-size: 15px;
}
.section_6_text_div {
  width: 460px;
  height: 160px;
}
.section_7_div {
  position: relative;
  display: flex;
}
.section_7_text_div {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 285px;
  height: 68px;
}
.section_7_title {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  color: #403e3b;
}
.section_7_text_div p {
  color: #645c55;
  font-size: 16px;
  line-height: 24px;
}
.section_7_div img {
  width: 1500px;
  max-width: 14500px;
}
.section_8 {
  background-color: #f7f7f7;
}
.section_8_div {
  width: 1168px;
  max-width: 1200px;
  height: 698px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.section_8_text h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 42px;
}
.section_8_text p {
  color: #645c55;
  line-height: 30px;
  font-size: 24px;
  margin-top: 15px;
  width: 600px;
}
.section_8_list {
  display: flex;
  gap: 16px;
  width: 1164px;
  height: 460px;
  margin-top: 40px;
}
.section_8_pic img {
  width: 379px;
  min-width: 379px;
  height: 460px;
}
.section_8_pic img:hover {
  display: n;
}
.section_8_btn {
  align-self: center;
  width: 140px;
  min-width: 140px;
  margin-top: 50px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: color 200ms;
}
.section_8_btn:hover {
  color: #858280;
}
.section_9_div {
  display: flex;
  width: 1168px;
  height: 392px;
  padding-left: 150px;
  gap: 16px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section_9_text_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 378px;
  min-width: 378px;
  max-width: 378px;
  height: 392px;
}
.section_9_text {
  width: 358px;
  color: #645c55;
  font-size: 15px;
  line-height: 24px;
  margin-top: 14px;
}
.section_9_text_bottom {
  color: #1b1a1a;
  margin-left: 25px;
  font-weight: 400;
  margin-top: 40px;
}
.section_9_text_div h2 {
  color: #403e3b;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}
.section_9_list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 115px;
}
.section_9_list li {
  width: 280px;
  display: flex;
  align-items: center;
  height: 100px;
}
.section_9_list_item_text_div {
  width: 196px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  margin-left: 30px;
}

.section_10 {
  background-color: #cec4bc;
}
.section_10_div {
  width: 1168px;
  height: 114px;
  display: flex;
  padding-left: 100px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_10_desc {
  display: flex;
  flex-direction: column;
  width: 576px;
  max-width: 576px;
  height: 114px;
  align-items: flex-start;
}
.section_10_text {
  margin-left: 447px;
  text-align: center;
}
.section_10_desc p {
  color: #645c55;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
.section_10_desc h2 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
}

.footer_div {
  width: 1168px;
  height: 84px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  font-size: 22px;
  font-weight: 500;
  height: 22px;
  color: #1b1a1a;
}

.footer_license p:nth-child(2) {
  padding-top: 20px;
  height: 20px;
}
.footer_license p:nth-child(2) {
  height: 20px;
}
.footer_logo span {
  font-weight: 600;
}
.footer_license {
  display: flex;
  flex-direction: column;
  width: 694px;
  height: 84px;
  color: #645c55;
}

.footer_list {
  display: flex;
  gap: 20px;
}
.footer_list li {
  display: flex;
  align-items: center;
}
.footer_list_div {
  display: flex;
  align-items: end;
  width: 112px;
}
.footer_icon {
  width: 25px;
  height: 25px;

  fill: #1b1a1a;

  transition: fill 200ms;
}
.footer_list li a {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  transition: background-color 200ms;
}
.footer_list li a:hover {
  background-color: #1b1a1a;
}
.footer_list li a:hover .footer_icon {
  fill: #ffffff;
}
